@import "nullstyles.scss";
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Nunito:wght@400;700&display=swap');

%align {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
    height: 100%;
}

%flexing {
    display: flex;
    align-items: center;
    justify-content: center;
}

%table-font {
    font-family: Nunito, cursive;
    font-size: 16px;
    color: rgb(128, 93, 93);
}

%button-style {
    @extend %flexing;
    width: 100px;
    height: 35px;
    margin: 0 30px;
    border: 2px solid rgb(238, 187, 187);
    border-radius: 100px;
    font-family: Nunito, cursive;
    color: #EBB;
    background: white;
    font-size: 16px;
    font-weight: 700;
    &:hover {
        background: #EBB;
        box-shadow: 0px 0px 15px 5px rgba(238, 187, 187, 0.467);
        color: white;
        cursor: pointer;
    }
}

.button {
    @extend %button-style;
}

header {
    background: #EBB;
    width: 100%;
    height: 60px;
    .header-panel {
        @extend %flexing;
        @extend %align;
        justify-content: space-between;
        height: 100%;
        width: 80%;
        .logo {
            font-size: 40px;
            color: white;
            font-family: Leckerli One, cursive;
                &:hover {
                    color: rgb(247, 235, 230);
                    cursor: pointer;
                }
        }
        a {
            @extend %table-font;
            color: white;
            font-weight: 700;
            &:hover {
                color: rgb(247, 235, 230);
                cursor: pointer;
            }
        }
    }
}

main {
    background: white;
    width: 100%;
    min-height: calc(100vh - 160px);
    .main-section {
        @extend %align;
        .users-tubular {
            @extend %flexing;
            flex-wrap: wrap;
            padding: 40px 0;
        }
    }
    .users-table {
        // @extend %flexing;
        flex-direction: column;
        @extend %table-font;
        input {
            &:hover {
                cursor: pointer;
            }
        }
        tr{
            min-height: 50px;
        }
        thead {
            font-weight: 700;
            td {
                border-bottom: 1px solid rgba(128, 93, 93, 0.548);
            }
        }
        td {
            min-height: 40px;
            padding: 10px 0;
            align-items: center;
            text-align: center;
            border-left: 25px solid white;
            border-right: 25px solid white;
        }
        .checkbox {
            width: 90px;
        }
        .id, .status {
            width: 120px;
        }
        .name, .mail, .registration-date, .last-login-date {
            width: 220px;
        }
    }
}

footer {
    width: 100%;
    height: 100px;
    background: #EBB;
    .footer-block {
        @extend %align;
        @extend %flexing;
        flex-direction: column;
        height: 100%;
        .footer-text, .footer-year {
            @extend %table-font;
            text-align: center;
            color: white;
            padding: 5px 0;
        }
    }
}

//log in & sign up pages
main {
    .main-section-log {
        @extend %flexing;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 5vw;
        .main-picture {
            img {
                width: 45vw;
                min-width: 360px;
            }
        }
    }
    .main-section{
        .main-form {
            min-width: 300px;
            width: 30vw;
            box-shadow: 0px 0px 30px 15px rgba(238, 187, 187, 0.467);
            padding: 20px 35px;
            margin: 30px 0;
            h2, p {
                @extend %table-font;
                margin: 10px 0;
            }
            h2 {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 25px;
            }
            .button-sign {
                display: flex;
                justify-content: space-around;
                margin: 25px 0;
            }
            input {
                height: 35px;
                width: 100%;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #EBB;
            }
            .button-signup{
                @extend %table-font;
                background: white;
                font-weight: 700;
                color: #EBB;
                margin-left: 15px;
                &:hover {
                    color: rgb(128, 93, 93);
                }
            }
            div:last-child {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
    .main-section-signup {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.registration {
    @extend %flexing
}